PORT=3000
NODE_ENV=development

DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=hr_application_development
DB_NAME_TEST=hr_application_test
DB_HOST=127.0.0.1
DB_PORT=5432

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=1d
